<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/d2a23bae68f35bdc0ae84dd2/w/80da26b3feeb954c36e05d0c/e/fc5d45101b3f5a5019b0cab2 -->
<robot name="vision_training_models">
  <!-- Link part_1 -->
  <link name="part_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <!-- Part part_1 -->
    <visual>
      <origin xyz="0.018519 0.0605531 -0.113426" rpy="0 -4.0797e-08 0"/>
      <geometry>
        <mesh filename="package://assets/part_1.stl"/>
      </geometry>
      <material name="part_1_material">
        <color rgba="0.8 0.776471 0.713725 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.018519 0.0605531 -0.113426" rpy="0 -4.0797e-08 0"/>
      <geometry>
        <mesh filename="package://assets/part_1.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link part_1_2 -->
  <link name="part_1_2">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <!-- Part part_1_2 -->
    <visual>
      <origin xyz="0.015 -0.03 0.03" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/part_1__2.stl"/>
      </geometry>
      <material name="part_1_2_material">
        <color rgba="0.301961 0.301961 0.301961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.015 -0.03 0.03" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/part_1__2.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from part_1 to part_1_2 -->
  <joint name="non-mujoco" type="fixed">
    <origin xyz="0.196019 0.0605531 -0.0434255" rpy="3.14159 -4.0797e-08 0"/>
    <parent link="part_1"/>
    <child link="part_1_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Link part_1_3 -->
  <link name="part_1_3">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <!-- Part part_1_3 -->
    <visual>
      <origin xyz="0 0 0" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/part_1__3.stl"/>
      </geometry>
      <material name="part_1_3_material">
        <color rgba="1 0.976471 0.976471 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/part_1__3.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from part_1 to part_1_3 -->
  <joint name="non-mujoco-plate" type="fixed">
    <origin xyz="0.033519 0.0605531 -0.103426" rpy="3.14159 -4.0797e-08 0"/>
    <parent link="part_1"/>
    <child link="part_1_3"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
</robot>
